.row1{
        backgroundColor: 'red'     
}
  @media (min-width: 576px) {
    .cont .text {
      padding: 0px;
    }
  }

  .cont {
    
  }

  @media (min-width: 576px) {
    .cont {
      min-height: 680px;
    }
  }



  @media (min-width: 576px) {
    .cont {
      padding-bottom: 100px;
    }
  }

  .cont {
   
  }

  
